.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-bottom: 1px solid #ccc;
}
.header .galleria {
  font-size: 3rem;
}
.header p {
  font-size: 1.5rem;
}
.slide-show {
  cursor: pointer;
}
